.container {
    position: relative;
    height: 200px;
    display: inline-block;
}

.imageItem {
    display: block;
    height: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding-top: 50%;
}

.container:hover .overlay {
    opacity: 1;
}